/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
*.class
target
*.dat
derbyDB/
